@layer components {
  .layout {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
  }

  @media (min-width: 1000px) {
    .layout {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }

  @media (min-width: 1000px) {
    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: start;
      gap: 1rem;
    }

    .info > :nth-child(1),
    .info > :nth-child(4) {
      grid-column: 1 / span 2;
    }
  }

  .title {
    font-size: var(--fs-700);
    font-weight: var(--fw-black);
    margin-bottom: var(--margin-vertical);
  }
}
